<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jubair.nsu.cse486.sec1.foodies">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodies">
        <activity android:name=".Customer.Customer_Event"></activity>
        <activity android:name=".Customer.Customer_MonthlyPlan" />
        <activity android:name=".Customer.Customer_Profile" />
        <activity android:name=".Customer.Customer_Homepage" />
        <activity android:name=".Chef.Chef_Profile" />
        <activity android:name=".Chef.Chef_AddItem" />
        <activity android:name=".Chef.Chef_Kitchen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
               <activity android:name=".Chef_login">
                   android:parentActivityName=".MainActivity">
                   <meta-data
                       android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainActivity" />
               </activity>
        -->
        <activity android:name=".Customer_login" />
        <activity android:name=".Chef_login" />
        <activity android:name=".Customer_Registration" />
        <activity android:name=".Chef_Registration" />
        <activity android:name=".LandingPage" />
        <activity android:name=".Chef.Chef_Homepage" />
    </application>

</manifest>